h1{
    background-color: black;
    color: white;
    padding: 20px;
    font-weight: bold;
    font-family: cursive;

}
h2{
    padding: 20px;
    color: white;
    background-color: blueviolet;
    font-style: italic;
    text-align: center;
}
span{color: aqua;
}
h4{
    background-color: skyblue;
    text-decoration: underline;
    text-align: right;
    padding: 10px;
    font: size 10px; 

}